.body {
  background-color: #161b22;
  height: 100vh;
}

.navbar {
  background-color: #0d1117;
  color: #cdcaca;
  padding: 20px;
}

.footer {
  text-align: center;
  background-color: #0d1117;
  color: #cdcaca;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.search {
  justify-content: center;
  padding: 20px 0;
  display: flex;
}

.ui.black.card,
.ui.black.cards>.card,
.ui.cards>.black.card {
  -webkit-box-shadow: 0 0 0 1px #161b22, 0 2px 0 0 #1b1c1d, 0 1px 3px 0 #161b22;
  box-shadow: 0 0 0 1px #161b22, 0 2px 0 0 #1b1c1d, 0 1px 3px 0 #161b22
}

.ui.black.card:hover,
.ui.black.cards>.card:hover,
.ui.cards>.black.card:hover {
  -webkit-box-shadow: 0 0 0 1px #161b22, 0 2px 0 0 #27292a, 0 1px 3px 0 #06455e;
  box-shadow: 0 0 0 1px #161b22, 0 2px 0 0 #27292a, 0 1px 3px 0 #06455e
}

.username {
  text-align: center;
  font-size: 1.22rem;
  color: #8b949e;
}

.no_one {
  width: 100%;
  color: white;
  margin-top: 5rem;
  font-weight: 300;
  font-size: 4.5rem;
  text-align: center;

}

::placeholder {
  font-style: italic;
  font-size: 1em;
}

.ui.button {
  margin-top: 4rem;
  background-color: #0d1117;
  color: whitesmoke;
  height: 3.1rem;
  width: 6rem;
}

.ui.button :hover {
  background-color: #0d1117;
  color: whitesmoke;
  height: 3.1rem;
  width: 6rem;
}

.ui.input {
  margin-top: 4rem;
  background-color: #0d1117;
  color: whitesmoke;
  height: 3rem;
  min-width: 25rem;
}

.card {
  background-color: #161b22;
  justify-content: center;
  display: flex;
  padding: 10px;
}

.ui.card {
  background-color: #0d1117;
  border-radius: 10px;
  padding: 0.3em;
  width: 95vh;
  margin: 0;
}

.ml {
  margin-left: 7rem;
}

.ml-st {
  margin-left: 5.9rem;
}

.ui.card>.content>.header,
.ui.cards>.card>.content>.header {
  color: white;
  text-align: center;
}

.ui.card>.content>.description,
.ui.cards>.card>.content>.description {
  color: white;
}

.ui.card>.image>img,
.ui.cards>.card>.image>img {
  border-radius: 50%;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin: auto;
  width: 25rem;
}

a {
  color: white !important;
}

.date {
  color: white;
}